<div class="first">
  <div class="texto">POR FAVOR, SUBE EL SONIDO.</div>
  <div class="btn" (click)="toSecond()">EMPEZAR</div>
</div>

<div class="second">
  <div class="texto">
    FELICIDADES ADRI!!!
  </div>
  <div class="img-carrousel">
    <img class="img1" src="./assets/1.jpg" alt="" srcset="">
    <img class="img1" src="./assets/2.jpg" alt="" srcset="">
    <img class="img1" src="./assets/3.jpg" alt="" srcset="">
    <img class="img1" src="./assets/4.jpg" alt="" srcset="">
    <img class="img1" src="./assets/5.jpg" alt="" srcset="">
    <img class="img1" src="./assets/6.jpg" alt="" srcset="">
    <img class="img1" src="./assets/7.jpg" alt="" srcset="">
    <img class="img1" src="./assets/8.jpg" alt="" srcset="">
    <img class="img1" src="./assets/9.jpg" alt="" srcset="">
    <img class="img1" src="./assets/10.jpg" alt="" srcset="">
    <img class="img1" src="./assets/11.jpg" alt="" srcset="">
    <img class="img1" src="./assets/12.jpg" alt="" srcset="">
    <img class="img1" src="./assets/13.jpg" alt="" srcset="">
    <div class="texto" style="font-size:12px;">
      GANÉ YO
    </div>


    <div class="texto" style="font-size:16px; margin-top:50px;">
      POR SI TE ABURRES, AQUÍ TIENES PRODUCTOS DE LA CASA (abrelo mejor en youtube)
    </div>
    <a href="https://www.youtube.com/watch?v=d2MPT9JNmA0" style="color:#e0f7fa; margin:5px 0">VIDEO CORTO</a>
    <a href="https://www.youtube.com/watch?v=uy8kYAuQ0HE" style="color:#e0f7fa;  margin:5px 0">VIDEO LARGO</a>


  </div>
</div>
<audio id="audio" controls>
  <source type="audio/wav" src="./assets/cumple.mp3">
</audio>
